click==8.0.1
colorama==0.4.4
Flask==2.2.5
gunicorn==20.1.0
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.1.1
Werkzeug==2.2.3
Pyrebase4==4.7.1
python-dotenv==0.21.1
SQLAlchemy==2.0.29
pydantic==1.10.6
Flask-SQLAlchemy==3.0.5