<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Erro!</title>
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
  </head>
  <body>
      <div class="container">

      <div class="alert alert-danger" role="alert">
        <h3>Houve um erro!</h3>

        <a href="{{url_for('login')}}" class="btn btn-outline-dark">Ok</a>
      </div>

      {%print(msg)%}

  </body>
</html>