<!DOCTYPE html>
<!-- Coding by CodingLab | www.codinglabweb.com-->
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Engenharia da Computação - UPE Poli</title>
  <link rel="stylesheet" href="{{url_for('static', filename='style.css') }}">
  <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='favicon.ico') }}"/>
</head>

<body>
  <div class="wrapper">
    <h2>Engenharia da Computação - UPE Poli</h2>
    {% for message, category in get_flashed_messages(with_categories=true) %}
    <div class="alert alert-{{ category }}">
      {{ message }}
    </div>
    {% endfor %}
    <form action="/preinscricaoprojetos" method="POST">
      <div class="input-box">
        <input type="text" placeholder="Título do projeto" name="nome" required>
      </div>
      <div class="input-box">
        <input type="text" placeholder="Equipe" name="equipe" required>
      </div>
      <div class="input-box">
        <input type="text" placeholder="Data de Início" name="data" required>
      </div>
      <div class="input-box">
        <input type="text" placeholder="Cliente" name="cliente" required>
      </div>
      <div class="input-box">
        <input type="text" placeholder="Tecnologias Utilizadas" name="tech" required>
      </div>
      <div class="input-box">
        <input type="text" placeholder="Descrição" name="descricao" required>
      </div>
      <div class="input-box">
        <input type="text" placeholder="Link do Repositório" name="link" required>
      </div>
      <div class="input-box">
        <input type="text" placeholder="Pitch" name="pitch" required>
      </div>
      <div class="input-box">
        <input type="text" placeholder="Logomarca" name="logo" required>
      </div>
      <div class="input-box button">
        <input type="Submit" value="Realizar pré-inscrição">
      </div>
    </form>
  </div>

</body>

</html>